.left{
	float: left;
	width: 70%;
}

.right{
	float:right;
	width:30%;
}

.pull-left {
  float: left !important;
}
.pull-right {
  float: right !important;
}

.clearfix {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}